<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/icon/title_icon.png" type="image/png">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Register</title>
</head>
<body>

    <section>
        <div class="register-box">
            <form action="" method="post">
                <h2>Registration</h2>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" name="email" required>
                    <label for="email">Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input type="text" name="username" required>
                    <label for="username">Username</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                <div class="remmember-forget">
                    <label for=""><input type="checkbox"> Remember me</label>
                    <a href="#"> Forget Password </a>
                </div>
                <button type="submit">Register</button>
                <div class="login-link">
                    <p>Do have a account?<a href="#">
                        Login</a></p>
                </div>
            </form>
        </div>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>