<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../static/icon/title_icon.png" >
    <link rel="stylesheet" href="../static/css/index.css">
    <title>HOWE</title>
</head>
<body>
<!--  navbar -->
<section class="navbar">
    <nav>
        <div class="logo">
            <a href="/static">
                <img src="../static/images/logo.png" alt="profile">
            </a>
        </div>
        <div class="bar">
            <ul>
                <li>
                    <a href="#">ABOUT</a>
                </li>
                <li>
                    <a href="#">WORKS</a>
                </li>
                <li>
                    <a href="#">POSTS</a>
                </li>
                <li>
                    <a href="#">BAKEND</a>
                </li>
                <li>
                    <a href="#">FRONTEND</a>
                </li>
                <li>
                    <a href="#">API</a>
                </li>
            </ul>
        </div>
    </nav>
</section>

<!-- base page -->
<section class="content">
    <div>
        <h1>Welcome to my Website</h1>
        <p>We trying implement a fastapi project</p>
        <div>
            <button><span></span><a href="/registration">REGISTRATION</a></button>
            <button><span></span><a href="/login">LOGIN</a></button>
        </div>
    </div>
</section>

<!--  footer -->
<section class="footer">
    <footer>
        <ul>
            <li><a href="#"><img src="/icon/icons8-instagram-48.png" width="40px" height="40px"></a></li>
            <li><a href="#"><img src="/icon/icons8-telegram-app-48.png" width="40px" height="40px"></a></li>
            <li><a href="#"><img src="/icon/icons8-github-24.png" width="40px" height="40px"></a></li>
            <li><a href="#"><img src="/icon/icons8-twitterx-50.png" width="40px" height="40px"></a></li>
            <li><a href="#"><img src="/icon/icons8-youtube-48.png" width="40px" height="40px"></a></li>
        </ul>
    </footer>
</section>
</body>
</html>
