<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../static/icon/title_icon.png">
    <link rel="stylesheet" href="../static/css/registration.css">
    <title>REGISTER</title>
</head>
<body>
<!--  navbar -->
<section class="navbar">
    <nav>
        <div class="logo">
            <a href="/backend/static">
                <img src="../static/images/logo.png" alt="profile">
            </a>
        </div>
        <div class="bar">
            <ul>
                <li>
                    <a href="#">ABOUT</a>
                </li>
                <li>
                    <a href="#">WORKS</a>
                </li>
                <li>
                    <a href="#">POSTS</a>
                </li>
                <li>
                    <a href="#">BAKEND</a>
                </li>
                <li>
                    <a href="#">FRONTEND</a>
                </li>
                <li>
                    <a href="#">API</a>
                </li>
            </ul>
        </div>
    </nav>
</section>

<section class="register">
    <div class="register-box">
        <form action="" method="post">
            <h2>Registration</h2>
            <div class="input-box">
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                <input type="email" name="email" required>
                <label for="email">Email</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="person"></ion-icon></span>
                <input type="text" name="username" required>
                <label for="username">Username</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="password" name="password" required>
                <label for="password">Password</label>
            </div>
            <div class="remmember-forget">
                <label for=""><input type="checkbox"> Remember me</label>
            </div>
            <button type="submit">Register</button>
            <div class="login-link">
                <p>Do have a account?<a href="login.html">
                    Login</a></p>
            </div>
        </form>
    </div>
</section>

</body>
</html>